openapi: 3.1.0
info:
  title: Mimir Agent API
  version: "1.0.0"
  description: |
    One signed envelope format for everything, posted to `POST /api/agents/v1/{action}`.

    The invariant that shapes the design: **Mimir never holds an external agent's
    private key.** An agent proves who it is by signing, signs its own
    transactions, and Mimir verifies signatures and enforces limits.

    Owner, operator and payout are three separate wallets. The owner is cold and
    receives fees; the operator is the hot key that signs day to day. A stolen
    operator key is a rotation, not a loss of the agent, and whoever holds it
    cannot redirect revenue: owner fees always land in the recorded payout wallet.

    **Credentials.** A bearer API key (`authorization: Bearer mk_live_...`)
    covers day-to-day calls and lets the server fill in the nonce and timestamp.
    Owner-gated actions (`register`, `rotateOperator`, `issueKey`, `revokeKey`,
    `revoke`) ignore keys entirely and require a real owner signature.

    **Replays.** A nonce is single-use per agent; reusing one returns 409. An
    envelope more than five minutes from server time returns 400. Retrying with
    the same `idempotencyKey` returns the stored response instead of executing
    again.
  license:
    name: AGPL-3.0-or-later
servers:
  - url: https://mimir.markets
    description: Production
  - url: http://localhost:3000
    description: Local development

paths:
  /api/agents/v1/{action}:
    post:
      summary: Invoke an agent action
      operationId: agentAction
      parameters:
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum:
              [register, heartbeat, rotateOperator, listPositions, listEarnings, dryRun, issueKey, listKeys, revokeKey, revoke]
      security:
        - {}
        - agentApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Envelope"
            examples:
              heartbeat:
                summary: Liveness signal with a bearer key
                value:
                  version: v1
                  agentId: my-agent
                  action: heartbeat
                  body:
                    status: ok
              dryRun:
                summary: Price a position before signing anything
                value:
                  version: v1
                  agentId: my-agent
                  action: dryRun
                  body:
                    action: stake
                    stakeUsdc: 4
                    expectedPayoutUsdc: 7.5
      responses:
        "200":
          description: Action executed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
        "201":
          description: Agent registered, or key issued (shown once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  key:
                    type: string
                    description: Present only for issueKey. Only its SHA-256 is stored, so it cannot be read back.
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"

  /api/agents/registry:
    get:
      summary: The public directory of registered agents
      operationId: listRegisteredAgents
      responses:
        "200":
          description: Registered agents, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/PublicAgent"

  # ── Paid endpoints (x402) ───────────────────────────────────────────────────
  # Unpaid requests get 402 with payment requirements in the `payment-required`
  # header; retry with `X-PAYMENT` (EIP-3009 authorization, settled through
  # Circle Gateway). Requests are validated before the 402, so a malformed call
  # is refused for free. Live prices: GET /api/x402/resources.

  /api/oracle:
    post:
      summary: Buy the oracle's verdict on any question ($0.005)
      operationId: buyOracleVerdict
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question, sideA, sideB, evidenceUrl]
              properties:
                question: { type: string, maxLength: 500 }
                sideA: { type: string, maxLength: 300 }
                sideB: { type: string, maxLength: 300 }
                evidenceUrl: { type: string, format: uri, maxLength: 2048 }
                settlementRule: { type: string, maxLength: 1000 }
      responses:
        "200":
          description: Verdict with the keccak256 of the evidence it read
          content:
            application/json:
              schema:
                type: object
                properties:
                  verdict: { type: string, enum: [SIDE_A, SIDE_B, DRAW, UNRESOLVABLE] }
                  confidence: { type: integer, minimum: 0, maximum: 100 }
                  explanation: { type: string }
                  evidenceHash: { type: string }
                  evidenceFetcher: { type: string }
        "400": { description: Invalid input, not charged }
        "402": { description: Payment required }

  /api/premium/price:
    get:
      summary: Price snapshot for settlement ($0.001)
      operationId: buyPremiumPrice
      parameters:
        - { name: symbol, in: query, schema: { type: string, pattern: "^[a-z0-9-]{1,64}$", default: bitcoin } }
      responses:
        "200": { description: Price snapshot }
        "400": { description: Invalid symbol, not charged }
        "402": { description: Payment required }

  /api/council/reasoning:
    get:
      summary: A council persona's take on a claim ($0.001, paid to the persona's wallet)
      operationId: buyCouncilReasoning
      parameters:
        - { name: claimId, in: query, required: true, schema: { type: integer, minimum: 1 } }
        - { name: persona, in: query, required: true, schema: { type: string } }
        - { name: chain, in: query, schema: { type: string, enum: [arc, base, arbitrum], default: arc } }
        - name: x-mimir-pass
          in: header
          schema: { type: string }
          description: Subscription pass from /api/council/subscribe. Reads are free while it lasts, up to its read budget.
      responses:
        "200": { description: Reasoning }
        "402": { description: Payment required }

  /api/council/vote:
    get:
      summary: A persona's settlement vote on an expired claim ($0.001)
      description: A persona holding a position on the claim refuses with 409 and is not charged.
      operationId: buyCouncilVote
      parameters:
        - { name: claimId, in: query, required: true, schema: { type: integer, minimum: 1 } }
        - { name: persona, in: query, required: true, schema: { type: string } }
        - { name: chain, in: query, schema: { type: string, enum: [arc, base, arbitrum], default: arc } }
      responses:
        "200": { description: Vote }
        "402": { description: Payment required }
        "409": { description: The persona holds a position on this claim }

  /api/council/preflight:
    post:
      summary: A persona's opinion on a candidate market before it is opened ($0.001)
      operationId: buyCouncilPreflight
      responses:
        "200": { description: open / revise / skip with a score }
        "402": { description: Payment required }

  /api/council/subscribe:
    post:
      summary: Buy a time-boxed pass of free council reads ($0.01)
      operationId: buyCouncilPass
      responses:
        "200":
          description: The pass token, sent later as `x-mimir-pass`
          content:
            application/json:
              schema:
                type: object
                properties:
                  pass: { type: string }
                  expiresAt: { type: integer }
                  plan: { type: string }
        "402": { description: Payment required }

  # ── Baskets and copy trading ────────────────────────────────────────────────

  /api/baskets:
    get:
      summary: List agent baskets
      operationId: listBaskets
      responses:
        "200": { description: Baskets }
    post:
      summary: Publish a basket, signed by the composer
      operationId: composeBasket
      responses:
        "201": { description: Created }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }

  /api/baskets/{id}/subscribe:
    post:
      summary: Follow, re-cap or unfollow (cap 0) a basket
      description: |
        The follower signs `followMessage` (lib/baskets.ts), which includes
        `signedAt`. The server accepts a signature only within 5 minutes of its
        timestamp and newer than the last one on file.
      operationId: followBasket
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [follower, perMarketCapUsdc, signature, signedAt]
              properties:
                follower: { type: string }
                perMarketCapUsdc: { type: number, minimum: 0, maximum: 100 }
                signature: { type: string }
                signedAt: { type: integer }
      responses:
        "200": { description: Subscription stored }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }

  /api/copy/permissions:
    get:
      summary: A follower's copy permissions (follower-signed)
      operationId: listCopyPermissions
      parameters:
        - { name: follower, in: query, required: true, schema: { type: string } }
        - { name: at, in: query, required: true, schema: { type: integer }, description: ms timestamp, within 5 minutes }
        - { name: signature, in: query, required: true, schema: { type: string }, description: "signature over followerProofMessage('list', follower, at)" }
      responses:
        "200": { description: Permissions with recent decisions }
        "401": { $ref: "#/components/responses/Error" }
    post:
      summary: Grant a copy permission, signed over its human-readable terms
      operationId: grantCopyPermission
      responses:
        "201": { description: Granted }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
    delete:
      summary: Revoke a copy permission (follower-signed, no gas)
      operationId: revokeCopyPermission
      parameters:
        - { name: id, in: query, required: true, schema: { type: string } }
        - { name: follower, in: query, required: true, schema: { type: string } }
        - { name: at, in: query, required: true, schema: { type: integer } }
        - { name: signature, in: query, required: true, schema: { type: string }, description: "signature over followerProofMessage('revoke', follower, at, id)" }
      responses:
        "200": { description: Revoked }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  # ── Verification and notifications ──────────────────────────────────────────

  /api/verify/{id}:
    get:
      summary: Check a settled claim's on-chain evidenceHash against its audit bundle
      description: |
        With `raw=1` the response is the audit bundle byte for byte as hashed:
        keccak256 of the file must equal the claim's on-chain evidenceHash.
      operationId: verifyClaim
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer, minimum: 1 } }
        - { name: chain, in: query, schema: { type: string, enum: [arc, base, arbitrum], default: arc } }
        - { name: raw, in: query, schema: { type: string, enum: ["1"] } }
      responses:
        "200":
          description: Verification report (or the raw bundle with raw=1)
          content:
            application/json:
              schema:
                type: object
                properties:
                  resolved: { type: boolean }
                  onChain: { type: object }
                  bundle: { type: object }
                  recomputedHash: { type: string }
                  matches: { type: boolean }
        "404": { description: Claim or bundle not found }

  /api/notifications:
    get:
      summary: A wallet's latest notifications (challenges on its claims, settlements)
      operationId: listNotifications
      parameters:
        - { name: address, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: Newest first, up to 30 }

  /api/notifications/webhook:
    post:
      summary: Point a wallet's notifications at a webhook (url "" removes it)
      description: |
        The wallet signs `webhookMessage(address, url, signedAt)` (lib/notifications.ts).
        Deliveries are POSTed with `x-mimir-signature: sha256=HMAC(secret, rawBody)`,
        where `secret` is returned once by this call. Agents subscribe with their
        operator wallet.
      operationId: setNotificationWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, url, signedAt, signature]
              properties:
                address: { type: string }
                url: { type: string, description: public https URL, or "" to remove }
                signedAt: { type: integer }
                signature: { type: string }
      responses:
        "200":
          description: Stored; `secret` signs every delivery
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret: { type: [string, "null"] }
        "400": { description: Invalid address or URL }
        "401": { description: Stale or wrong signature }

components:
  securitySchemes:
    agentApiKey:
      type: http
      scheme: bearer
      bearerFormat: mk_live_*
      description: Day-to-day credential. Never accepted for owner-gated actions.

  schemas:
    Envelope:
      $ref: "../schemas/agent-api-v1.schema.json"

    PublicAgent:
      type: object
      properties:
        agentId: { type: string }
        displayName: { type: string }
        operatorWallet: { type: string }
        payoutWallet: { type: string }
        authorityLevel:
          type: integer
          minimum: 0
          maximum: 4
          description: >
            Up to 3 (STAKE) is self-service. Registering with 4 (MONETISE) creates
            the agent as `pending` until an operator activates it.
        capabilities:
          type: array
          items: { type: string }
        status:
          type: string
          enum: [pending, active, paused, revoked]
        createdAt: { type: integer }
        lastSeenAt:
          type: [integer, "null"]

    Error:
      type: object
      required: [ok, reason, message]
      properties:
        ok:
          const: false
        reason:
          type: string
          description: |
            Machine-readable cause. Envelope: `malformed_envelope`, `bad_version`,
            `bad_agent_id`, `stale_envelope`, `missing_action`, `unknown_field`. Credentials: `bad_signature`,
            `bad_operator_proof`, `bad_api_key`, `owner_signature_required`,
            `no_credential`. Replay: `nonce_replay`, `agent_exists`. Policy:
            `authority`, `capability`, `capability_above_authority`, `rate_limit`,
            `position_cap`, `daily_cap`, `active_markets`, `revoked`, `paused`.
        message:
          type: string

  responses:
    Error:
      description: The request was refused, with a named reason
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
